module.exports = {
  title: '{{ application_name }}',
  SERVER_ROOT: 'http://{{ domain_name }}/{{ application_name }}-server',
  EVENT_EXT: '/api/{{ application_name }}/export_events/deeprows',
  CATEGORY_EXT: '/api/{{ application_name }}/export_categories/rows',
  SOURCES_EXT: '/api/{{ application_name }}/export_sources/deepids',
  NARRATIVE_EXT: '/api/{{ application_name }}/narratives/ids',
  TAGS_EXT: '/api/{{ application_name }}/export_tags/tree',
  SITES_EXT: '/api/{{ application_name }}/export_sites/rows',
  NARRATIVE_EXT: '/api/{{ application_name }}/export_narratives/rows',
  MAP_ANCHOR: [{{ timemap.map_anchor.lat }}, {{ timemap.map_anchor.lon }}],
  INCOMING_DATETIME_FORMAT: '%m/%d/%YT%H:%M',
  MAPBOX_TOKEN: 'pk.eyJ1IjoiZmFkZXYiLCJhIjoiY2o2eXNodXpnMjJnbzJybXRmMWtwajVrdyJ9.djCM8zBqCtA-SC_EChxtzQ',
  features: {
    USE_TAGS: {{ 'true' if timemap.features.tags else 'false' }},
    USE_SEARCH: {{ 'true' if timemap.features.search else 'false' }},
    USE_SITES: {{ 'true' if timemap.features.sites else 'false' }},
    NARRATIVE_STEP_STYLES: {{ 'true' if timemap.features.narrative_step_styles else 'false' }}
  }
}
