module.exports = {
  title: '{{ application_name }}',
  SERVER_ROOT: 'http://{{ domain_name }}/{{ application_name }}-server',
  EVENT_EXT: '/api/{{ application_name }}/export_events/deeprows',
  CATEGORY_EXT: '/api/{{ application_name }}/export_categories/rows',
  SOURCES_EXT: '/api/{{ application_name }}/export_sources/deepids',
  NARRATIVE_EXT: '/api/{{ application_name }}/narratives/ids',
  TAGS_EXT: '/api/{{ application_name }}/export_tags/tree',
  SITES_EXT: '/api/{{ application_name }}/export_sites/rows',
  NARRATIVE_EXT: '/api/{{ application_name }}/export_narratives/rows',
  INCOMING_DATETIME_FORMAT: '%m/%d/%YT%H:%M',
  MAPBOX_TOKEN: '{{ mapbox_token }}',
  features: {
    {% for key, value in timemap.features.items() %}
      {{key}}: {{ 'true' if value else 'false' }},
    {% endfor %}
  },
  store: {
    app: {
      map: {
        anchor: {{ timemap.store.app.map.anchor }}
      },
      timeline: {
        range: [
          new Date({{ timemap.store.app.timeline.yr0 }}, {{ timemap.store.app.timeline.mth0 }}, {{ timemap.store.app.timeline.day0 }}, {{ timemap.store.app.timeline.hr0 }}),
          new Date({{ timemap.store.app.timeline.yr1 }}, {{ timemap.store.app.timeline.mth1 }}, {{ timemap.store.app.timeline.day1 }}, {{ timemap.store.app.timeline.hr1 }})
        ]
      }
    },
    ui: {{ timemap.store.ui }}
  }
}
