import { timemap } from './lib'

export default {
  gsheets: [
  {% if datasheet.gsheets is defined %}
  {% for sheet in datasheet.gsheets %}
  {
    name: '{{ sheet.name }}',
    id: '{{ sheet.id }}',
    tabs: timemap.{{ 'default' if sheet.prefix_sheet_tabs is not defined else 'prefixedTabs('+sheet.prefix_sheet_tabs+')'}}
  },
  {% endfor %}
  {% endif %}
  ],
  local: [
  {% if datasheet.local is defined %}
  {% for sheet in datasheet.local %}
  {
    name: '{{ sheet.name }}',
    path: '/{{ sheet.path | basename }}', /* passed from local->instance->docker volume */
    tabs: timemap.{{ 'default' if sheet.prefix_sheet_tabs is not defined else 'prefixedTabs('+sheet.prefix_sheet_tabs+')'}}
  },
  {% endfor %}
  {% endif %}
  ]
}
