module.exports = {
  title: '{{ timemap.name }}',
  display_title: '{{ timemap.display_name }}',
  SERVER_ROOT: 'http{{ 's' if use_https else '' }}://{{ domain_name }}/{{ timemap.name }}-server',
  EVENT_EXT: '/api/{{ timemap.name }}/{{ timemap.name+'_' if timemap.prefix_sheet_tabs is defined and timemap.prefix_sheet_tabs.events is defined else '' }}export_events/deeprows',
  CATEGORY_EXT: '/api/{{ timemap.name }}/{{ timemap.name+'_' if timemap.prefix_sheet_tabs is defined and timemap.prefix_sheet_tabs.categories is defined else '' }}export_categories/rows',
  SOURCES_EXT: '/api/{{ timemap.name }}/{{ timemap.name+'_' if timemap.prefix_sheet_tabs is defined and timemap.prefix_sheet_tabs.sources is defined else '' }}export_sources/deepids',
  NARRATIVE_EXT: '/api/{{ timemap.name }}/{{ timemap.name+'_' if timemap.prefix_sheet_tabs is defined and timemap.prefix_sheet_tabs.narratives is defined else '' }}export_narratives/rows',
  TAGS_EXT: '/api/{{ timemap.name }}/{{ timemap.name+'_' if timemap.prefix_sheet_tabs is defined and timemap.prefix_sheet_tabs.tags is defined else '' }}export_tags/tree',
  SITES_EXT: '/api/{{ timemap.name }}/{{ timemap.name+'_' if timemap.prefix_sheet_tabs is defined and timemap.prefix_sheet_tabs.sites is defined else '' }}export_sites/rows',
  DATE_FMT: '{{ timemap.date_fmt if timemap.date_fmt is defined else 'MM/DD/YYYY'}}',
  TIME_FMT: '{{ timemap.time_fmt if timemap.time_fmt is defined else 'HH:mm'}}',
{% if timemap.mapbox_token is defined %}
  MAPBOX_TOKEN: '{{ timemap.mapbox_token }}',
{% endif %}

  store: {
    app: {
{% if 'app' in timemap.store and 'cover' in timemap.store.app %}
      cover: {{ timemap.store.app.cover | to_nice_json }},
{% endif %}
{% if 'app' in timemap.store and 'map' in timemap.store.app %}
      map: {{ timemap.store.app.map | to_nice_json }},
{% endif %}
      timeline: {
        range: [
          new Date("{{ timemap.store.app.timeline.range[0] }}"),
          new Date("{{ timemap.store.app.timeline.range[1] }}")
        ],
        rangeLimits: [
          new Date("{{ timemap.store.app.timeline.rangeLimits[0] }}"),
          new Date("{{ timemap.store.app.timeline.rangeLimits[1] }}")
        ],
        dimensions: {{ (timemap.store.app.timeline.dimensions | to_nice_json) if timemap.store.app.timeline.dimensions is defined else {}}}
      }
    },
    ui: {{ timemap.store.ui | to_nice_json }},
    features: {
    {% for key, value in timemap.features.items() %}
      {{key}}: {{ ('true' if value else 'false') if value is boolean else value }},
    {% endfor %}
    },
  }
}
