- name: update apt
  apt:
    upgrade: yes
    update_cache: yes
    cache_valid_time: 3600

- name: install apt packages
  apt:
    name: ['curl', 'nginx', 'git', 'python3-pip', 'software-properties-common']
    state: present

- name: install docker
  import_role:
    name: angstwad.docker_ubuntu

- pip:
    name: docker
